*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 85%;
    margin-top: 20px;
    line-height: 1.15em;
    font-family: 'Noto Sans Display', sans-serif;

}
.clearfix {
    content:'';
    display: table;
    clear: both;
}

/* riga*/
.product-row {
    width: 100%;
    margin-bottom: 30px;
    overflow: hidden;
}

.product-row .product.container {
    position: relative;
    float: left;
    width: 30%;
}